openapi: 3.0.1
info:
  title: Evidence (Framework - not a REST API)
  description: >-
    Evidence is an open-source (MIT) business-intelligence-as-code framework, not a
    hosted REST API. It compiles SQL queries embedded in Markdown files into a static
    data app / BI website using Svelte and Vite, and executes those queries through a
    DuckDB-WebAssembly "Universal SQL" engine that extracts data sources to Parquet.
    The product is consumed as a Node CLI (for example: `npm run sources`, `npm run
    dev`, `npm run build`, `npm run preview`) plus authored Markdown and SQL - there
    is no documented public HTTP/REST request-response API surface to model. Evidence
    Cloud provides managed hosting, a managed query engine, scheduled syncs, and AI
    authoring assistance, but does not expose a documented public REST API for end
    users. This document therefore declares an empty `paths` object rather than
    fabricating REST endpoints. See https://docs.evidence.dev/ and
    https://docs.evidence.dev/reference/cli for the actual framework/CLI interface.
  termsOfService: https://evidence.dev/
  contact:
    name: Evidence Support
    url: https://evidence.dev/
  license:
    name: MIT
    url: https://github.com/evidence-dev/evidence/blob/main/LICENSE
  version: '1.0'
servers:
  - url: https://evidence.dev
    description: >-
      Marketing and documentation site only. Evidence has no public REST API base
      URL; this entry exists because OpenAPI requires a server and must not be read
      as an API endpoint.
paths: {}
components: {}
